# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore specific files and directories
Arc.lnk
DeltaX - Associate Product Engineer - Job Description 2025.pdf
Frontend-light-saas-landing-page/
Recycle Bin - Shortcut (2).lnk
Sem7/
demo/

